{% ckan_extends %}

{% block package_description %}
    {% block package_archive_notice %}
        {{ super() }}
    {% endblock %}
    <h1>
    {% block page_heading %}
        {{ super() }}
    {% endblock %}
    </h1>
    <div class="row">
        <div class="col-sm-10" style="text-align:justify;">
            {% block package_notes %}
                {{super()}}                
            {% endblock %}
        </div>
        <div class="col-sm-2">
            {% set evaluation = h.traffic_light_evaluate_fields(pkg) %}        
            {% set tooltip = (evaluation*100)|round|int|string + "% of optional meta-\ndata fields are filled."%}
            {% if h.traffic_light_apply_weights()%}
              {% set tooltip = "The weighted evaluation of metadata\nprovision yielded " + (evaluation*100)|round|int|string + " of 100 points." %}
            {% endif %}
            {% if evaluation < h.traffic_light_get_yellow_limit() %}
                <a href="/traffic-light-reference"><img src="/red_light.png" height="140" title="{{tooltip}}" alt="red light"></a>
            {% elif evaluation < h.traffic_light_get_green_limit() %}
                <a href="/traffic-light-reference"><img src="/yellow_light.png" height="140" title="{{tooltip}}" alt="yellow light"></a>
            {% else %}
                <a href="/traffic-light-reference"><img src="/green_light.png" height="140" title="{{tooltip}}" alt="green light"></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

