{% ckan_extends %}

{% block package_description %}
    {% block package_archive_notice %}
        {{ super() }}
    {% endblock %}
    <h1>
    {% block page_heading %}
        {{ super() }}
    {% endblock %}
    </h1>
    <div class="row">
        <div class="col-sm-10" style="text-align:justify;">
            {% block package_notes %}
                {{super()}}
                
            {% endblock %}
            {% if (h.traffic_light_apply_weights())%}
            true
                {{h.traffic_light_apply_weights()}}
            {% else %}
                false
                {{h.traffic_light_apply_weights()}}
            {% endif %}
        </div>
        <div class="col-sm-2">
            {% set percentage = h.traffic_light_evaluate_fields(pkg) %}
            {% set tooltip = percentage|round|int|string %}
            {% if percentage < 30 %}
                <img src="/red_light.png" height="140" title="{{tooltip}}% of optional meta-&#10data fields are filled." alt="red light">
            {% elif percentage < 80 %}
                <img src="/yellow_light.png" height="140" title="{{tooltip}}% of optional meta-&#10data fields are filled." alt="yellow light">
            {% else %}
                <img src="/green_light.png" height="140" title="{{tooltip}}% of optional meta-&#10data fields are filled." alt="green light">
            {% endif %} 
        </div>
    </div>
{% endblock %}

