{% ckan_extends %}

{% block content %}
  <div class="row">
    <div class="dataset-content col-sm-11">
      {% block heading %}  
        {{super()}}
      {% endblock %}
      {% block banner %}
        {{super()}}
      {% endblock %}
      {% block notes %}
        {{super()}}
      {% endblock %}
    </div>
    <div class="col-sm-1">
      {% set evaluation = h.traffic_light_evaluate_fields(package) %}        
      {% set tooltip = (evaluation*100)|round|int|string + "% of optional meta-\ndata fields are filled."%}
      {% if h.traffic_light_apply_weights()%}
        {% set tooltip = "The weighted evaluation of metadata\nprovision yielded " + (evaluation*100)|round|int|string + " of 100 points." %}
      {% endif %}            
      {% if evaluation < h.traffic_light_get_yellow_limit() %}
          <img src="/red_light.png" height="100" title="{{tooltip}}" alt="red light">
      {% elif evaluation < h.traffic_light_get_green_limit() %}
          <img src="/yellow_light.png" height="100" title="{{tooltip}}" alt="yellow light">
      {% else %}
          <img src="/green_light.png" height="100" title="{{tooltip}}" alt="green light">
      {% endif %}
    </div>
  </div>
  {% block resources %}
    {{super()}}
  {% endblock %}
{% endblock %}